body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.header {
  padding-bottom: 40px;
}

.headleft {
  float: left;
}

.headright {
  text-align: right;
  color: #aaf
}

.center {
  text-align: center;
}

.answer {
  color: #00f;
}